* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

.departamentos {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.departamento1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.departamento {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.departamento img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

h3 {
    color: #333;
    margin: 10px 0;
}

.peligro{
    color: red;

}
.permitido{
    color: green;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button a {
    color: inherit;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
}
